extends layout

block content
  h1= 'Movie App Backend'
  p Welcome to Movie App Backend
  ul
    li
      a(href='/users') Users
    li
      a(href='/comments') Comments - (FOR MOVIES AND LISTS)
    li
      a(href='/messages') Messages
    li 
      a(href='/faqs') FAQ
    li
      a(href='/trailers') Trailers
    li
      a(href='/companyprofile') Company Profile
    li
      a(href='/medias') Medias
    li
      a(href='/notifications') Notifications
    li
      a(href='/staticpage') Static Pages
    li 
      a(href='/complaint') Complaints
    li
      a(href='/movies') Movies
    li
      a(href='/lists') Lists
    li
      a(href='/userratings') User Ratings - (FOR MOVIES AND LISTS)
    li
      a(href='/watched') Watched - (ONLY FOR MOVIES) 
    li 
      a(href='/watchlist') Watchlist - (ONLY FOR MOVIES)
    li
      a(href='/liked') Liked - (ONLY FOR MOVIES)
    li
      a(href='/listlikes') List Likes - (ONLY FOR LISTS)
    li
      a(href='/commentlikes') Comment Likes - (ONLY FOR COMMENTS) 
   
  

